<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <!--<add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="Default.aspx"/>
        <add value="index.html"/>
        <add value="index.pl"/>
        <add value="default.html"/>-->
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
				<rule name="wordpress" patternSyntax="Wildcard">
					<match url="*"/>
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						</conditions>
					<action type="Rewrite" url="index.php"/>
				</rule></rules>
    </rewrite>
    <!--<caching>
        <profiles>
            <add extension="*" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
        </profiles>
    </caching> -->
      <staticContent>
         <clientCache cacheControlMode="UseExpires"
            httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
      </staticContent>
  </system.webServer>
</configuration>
